$font-size-base: 1rem; // Assumes the browser default, typically `16px`

/* ----------------------------------------------------------- */

$font-family-base: "Roboto Slab", sans-serif;
$font-weight-base: 400;
$line-height-base: 1.5;

$headings-margin-bottom: ($spacer / 2);
$headings-font-family: "Roboto Slab", sans-serif;
$headings-font-weight: 500;
$headings-line-height: 1.5;
$headings-color: theme-color("primary");

/* ----------------------------------------------------------- */

$html-font-sizes: (
    xs: 16px,
    sm: 16px,
    md: 16px,
    lg: 16px,
    xl: 16px,
);

$h1-font-sizes: (
    xs: $font-size-base * 2.5,
    sm: $font-size-base * 2.5,
    md: $font-size-base * 2.5,
    lg: $font-size-base * 2.5,
    xl: $font-size-base * 2.5,
);

$h2-font-sizes: (
    xs: $font-size-base * 1.5,
    sm: $font-size-base * 1.6,
    md: $font-size-base * 1.6,
    lg: $font-size-base * 1.6,
    xl: $font-size-base * 1.6,
);

$h3-font-sizes: (
    xs: $font-size-base * 1.3,
    sm: $font-size-base * 1.4,
    md: $font-size-base * 1.4,
    lg: $font-size-base * 1.4,
    xl: $font-size-base * 1.4,
);

$h4-font-sizes: (
    xs: $font-size-base * 1.2,
    sm: $font-size-base * 1.2,
    md: $font-size-base * 1.2,
    lg: $font-size-base * 1.2,
    xl: $font-size-base * 1.2,
);

$h5-font-sizes: (
    xs: $font-size-base * 1.1,
    sm: $font-size-base * 1.1,
    md: $font-size-base * 1.1,
    lg: $font-size-base * 1.1,
    xl: $font-size-base * 1.1,
);

$h6-font-sizes: (
    xs: $font-size-base,
    sm: $font-size-base,
    md: $font-size-base,
    lg: $font-size-base,
    xl: $font-size-base,
);

/* ----------------------------------------------------------- */

$navbar-font-sizes: (
    xs: 14px,
    sm: 14px,
    md: 14px,
    lg: 14px,
    xl: 14px,
);

$utility-bar-font-size: (
    xs: 15px,
    sm: 15px,
    md: 15px,
    lg: 15px,
    xl: 15px,
);

$site-legal-font-size: (
    xs: 15px,
    sm: 15px,
    md: 15px,
    lg: 15px,
    xl: 15px,
);

/* ----------------------------------------------------------- */
