.home-img-text {
    display: flex;
    column-gap: 4rem;
    .wp-block-group {
        .wp-block-image {
            max-width: 10.9375rem;
            margin-left: 0 !important;
        }
    }
    .img-text__content {
        flex: 0 0 30% !important;
    }
    .img-text__media {
        flex: 0 0 70% !important;
        .wp-block-image {
            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
    
}
.home-img-text + .home-img-text {
    margin-top: 3rem !important;
}

.wp-block-lg-blocks-img-text {
    .img-text__media {
        order: 1;
    }
    .img-text__content {
        align-content: center;
        order: 2;
        .wp-block-group {
            max-width: 32.5rem;
            h2 {
                margin-left: 0 !important;
            }
        }
    }
}  

@media screen and (min-width: 1024px) {
    .wp-block-lg-blocks-img-text {
        .img-text__media {
            order: unset !important;
        }
        .img-text__content {
            align-content: center;
            order: unset !important;
        }
    }
}
