// .mobile-book-now {
//     min-height: 3.4375rem;
//     span {
//         position: fixed;
//         top: 0.875rem;
//         left: 4.0625rem;
//     }
// }

#page {
    overflow-x: hidden;
}

#site-header {
    max-width: 100vw;
}