// ---- Mixins

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";

// ---- Variables

@import "variables/variables";

// ---- Parent

@import "../../../../wp-theme-parent/assets/src/sass/variables";

// ---- Bootstrap

@import "~bootstrap/scss/variables";

//remove unwanted colors
$colors: map-remove(
    $colors,
    "blue",
    "indigo",
    "purple",
    "red",
    "orange",
    "yellow",
    "green",
    "teal",
    "cyan",
    "pink",
    "gray",
    "gray-dark"
);
$theme-colors: map-remove(
    $theme-colors,
    "info",
    "warning",
    "success",
    "danger",
    "light"
);

//@debug $colors;
//@debug $theme-colors;

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
//@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
//@import "~bootstrap/scss/tables";
//@import "~bootstrap/scss/forms";

/**
* we only need primary in most cases. so removing extra colors from $theme-colors.
* If needed you can remove the color from following map-remove() function.
* Make sure only the needed button classes generated in main.css.
*/
$theme-colors-bk: $theme-colors;
$theme-colors: map-remove($theme-colors, "secondary", "dark", "white");
@debug $theme-colors;
@import "~bootstrap/scss/buttons";
$theme-colors: $theme-colors-bk;
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
//@import "~bootstrap/scss/button-group";
//@import "~bootstrap/scss/input-group";
//@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
//@import "~bootstrap/scss/breadcrumb";
//@import "~bootstrap/scss/pagination";
//@import "~bootstrap/scss/badge";
//@import "~bootstrap/scss/jumbotron";
//@import "~bootstrap/scss/alert";
//@import "~bootstrap/scss/progress";
//@import "~bootstrap/scss/media";
//@import "~bootstrap/scss/list-group";
//@import "~bootstrap/scss/close";
//@import "~bootstrap/scss/modal";
//@import "~bootstrap/scss/tooltip";
//@import "~bootstrap/scss/popover";
//@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/print";

// ---- bootstrap utilities
@import "styles/base/bootstrap-utilities";

// ---- Font Awesome

//@import "~@fortawesome/fontawesome-free/scss/fontawesome";
//@import "~@fortawesome/fontawesome-free/scss/brands";
//@import "~@fortawesome/fontawesome-free/scss/regular";
//@import "~@fortawesome/fontawesome-free/scss/solid";

// ---- Animate

//@import "~animate-sass/animate";

// ---- Parent

@import "../../../../wp-theme-parent/assets/src/sass/style";

body {
    background: radial-gradient(
        circle,
        theme-color("light-green") 43%,
        theme-color("primary") 100%
    );
}
.login {
    h1 {
        a {
            background-image: url(../images/leghorn-logo.png);
            width: 350px;
            height: 77px;
            background-size: contain;
            margin-left: -13px;
        }
    }
    #loginform,
    #lostpasswordform {
        border: 3px solid theme-color("brown");
        input[type="text"],
        input[type="password"],
        input[type="checkbox"] {
            &:focus {
                border-color: theme-color("light-green");
                box-shadow: 0 0 0 1px theme-color("light-green");
            }
        }
        span.dashicons {
            color: theme-color("light-green");
        }
        input[type="checkbox"] {
            &:checked::before {
                content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%23458e37%27%2F%3E%3C%2Fsvg%3E");
            }
        }
        .submit {
            #wp-submit {
                background-color: theme-color("light-green");
                border: 2px solid theme-color("light-green");
                transition: all 0.5s ease;
                &:hover {
                    color: theme-color("light-green");
                    background-color: #fff;
                }
            }
        }
    }
    a {
        color: #fff !important;
    }
}
