/**
The css in this file is only for backend editor.
This will be used to match the fonts, sizes etc in backend editor with the frontend
*/

/*body {
  background: #ddd;
}*/

.home-testimonial {
    .swiper-slide {
        height: 410px;
    }
}
