#site-content {
    main {
        .wp-block-amelia-search-gutenberg-block,
        .wp-block-amelia-events-gutenberg-block {
            .amelia-app-booking {
                .am-wrap {
                    .am-search-results {
                        .am-service-list {
                            .am-service {
                                .am-service-image {
                                    display: none !important;
                                }
                                .am-service-title {
                                    max-width: unset !important;
                                }
                                .am-service-provider {
                                    display: none !important;
                                }
                                .am-service-price {
                                    padding: 6px 12px;
                                    border-radius: 4px;
                                    background-color: theme-color("primary");
                                    color: theme-color("white");
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                    #am-events-booking {
                        .am-event-list {
                            .am-event-data {
                                .am-event-dates {
                                    border-color: theme-color("brown");
                                    > div {
                                        border-color: theme-color("brown");
                                        .am-event-date-month,
                                        .am-event-date-day {
                                            font-family: "Roboto Slab",
                                                sans-serif !important;
                                            color: theme-color(
                                                "brown"
                                            ) !important;
                                            border-color: theme-color("brown");
                                        }
                                    }
                                }
                                .am-event-info {
                                    .am-event-title {
                                        font-family: "Roboto Slab", sans-serif !important;
                                        color: theme-color("brown") !important;
                                        .am-event-booking-status.full {
                                            color: theme-color("white");
                                            background-color: theme-color(
                                                "primary"
                                            );
                                        }
                                        .am-event-booking-status.open {
                                            color: theme-color("primary");
                                            background-color: unset;
                                            &::before {
                                                background-color: theme-color(
                                                    "primary"
                                                );
                                            }
                                        }
                                    }
                                }
                                .am-event-price {
                                    background-color: theme-color(
                                        "primary"
                                    ) !important;
                                    padding: 6px 12px;
                                }
                            }
                        }
                        div {
                            .el-form {
                                .el-form-item {
                                    .el-form-item__content {
                                        button {
                                            background-color: theme-color(
                                                "light-green"
                                            ) !important;
                                        }
                                    }
                                }
                                .el-col {
                                    svg {
                                        g {
                                            fill: theme-color(
                                                "primary"
                                            ) !important;
                                            path {
                                                fill: theme-color(
                                                    "primary"
                                                ) !important;
                                            }
                                        }
                                    }
                                    span {
                                        color: theme-color(
                                            "primary"
                                        ) !important;
                                    }
                                    p {
                                        color: theme-color(
                                            "primary"
                                        ) !important;
                                    }
                                }
                            }
                            .el-button {
                                background-color: theme-color(
                                    "light-green"
                                ) !important;
                                border-color: theme-color(
                                    "light-green"
                                ) !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
.am-search-filters {
    .am-search-filter:nth-child(n + 6) {
        display: none !important;
    }
}

.am-confirmation-booking-header {
    img {
        display: none !important;
    }
    h2 {
        word-break: break-word;
    }
}

.am-confirmation-booking-details {
    > div:first-child {
        display: none !important;
    }
}

@include media-breakpoint-down(sm) {
    .am-service-price {
        top: unset !important;
        right: 10px !important;
        bottom: 8px !important;
    }
}

.pulse {
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}
