#site-content {
    main {
        .camp-dates-panel {
            padding: 2rem;
            margin-bottom: 2rem;
            h4 {
                text-transform: uppercase;
            }
        }
        .supplies-panel {
            padding: 2rem;
            figure {
                width: 100%;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}
