#site-content
    > main
    > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-lg-blocks-slider):not(.is-style-wide),
.img-text.alignfull .img-text__inner,
.wp-block-lg-blocks-video-banner.alignfull .content {
    padding: 0;
    width: calc(100% - 2rem);
    @extend .container;
}

#site-content {
    main {
        h1 {
            font-size: 30px;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}
body {
    > .swiper-container {
        display: none;
    }
}

#site-content {
    padding-top: $offcanvas-top;
    @media (min-width: $nav-breakpoint-up) {
        padding-top: $offcanvas-top-desktop;
    }
}

hr.lg {
    margin-top: $hr-margin-y * 3;
    margin-bottom: $hr-margin-y * 3;
}

.text-transform-uppercase {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.text-decoration-underline {
    text-decoration: underline;
}

.w-200 {
    width: 200px !important;
    min-width: 200px !important;
}

.is-style-horseshoe-list {
    list-style-image: url("/wp-content/themes/wp-web-leghornranch/assets/dist/images/horseshoe_icon.svg");
    padding-inline-start: 1.2rem;
    li {
        font-size: 18px;
        color: theme-color("brown");
        margin-bottom: 0.5rem;
        &::marker {
            font-size: 1.55rem;
        }
    }
}

.rates-sidebar {
    padding: 2rem;
    p {
        font-size: 18px;
        :first-child {
            font-size: 24px;
            width: 50%;
        }
    }
    p.w-75 {
        @include media-breakpoint-up(md) {
            width: 85%;
        }
        @include media-breakpoint-up(lg) {
            width: 75%;
        }
    }
}

.directions-bar {
    @include media-breakpoint-up(lg) {
        padding: 0 24rem !important;
    }
    p {
        margin-top: 0;
        padding-top: 0;
    }
}

#site-content {
    main {
        .wp-block-cover {
            &__inner-container {
                .wp-block-buttons {
                    .wp-block-button {
                        &__link {
                            border: 2px solid theme-color("secondary");
                            color: theme-color("brown");
                        }
                        &__link:hover {
                            background-color: unset;
                            border: 2px solid theme-color("secondary");
                            color: theme-color("secondary");
                        }
                    }
                }
            }
        }
    }
}

@each $color, $value in $theme-colors {
    .wp-block-buttons {
        .wp-block-button {
            .wp-block-button__link.has-#{$color}-background-color {
                border: 2px solid #{$value};
                &:hover {
                    background-color: unset;
                    color: #{$value};
                    border: 2px solid #{$value};
                }
            }
        }
    }
}

.swiper-button-prev::after {
    display: none;
}
.swiper-button-next::after {
    display: none;
}

@include media-breakpoint-down(sm) {
    .mt-sm-5 {
        margin-top: 4.5rem;
    }
}

@media screen and (min-width: 782px) and (max-width: 1080px) {
    .rates-policies-column > .wp-block-column {
        flex-basis: 50% !important;
    }
}
