#site-content {
    main {
        .lg-advanced-map-block {
            > div {
                height: 400px !important;
                .lg-map-marker {
                    &__content {
                        border-color: theme-color("primary");
                        .outer-triangle {
                            border-top: 17px solid theme-color("primary");
                        }
                    }
                    &__name {
                        color: theme-color("primary");
                    }
                    &__address {
                        color: theme-color("brown");
                    }
                    &__tel {
                        color: theme-color("primary");
                    }
                }
                #pin {
                    path {
                        fill: theme-color("primary") !important;
                        stroke: theme-color("primary") !important;
                    }
                    circle {
                        stroke: theme-color("primary") !important;
                    }
                }
            }
        }
        .contact-sidebar {
            padding: 2rem;
            font-size: 24px;
            @include media-breakpoint-down(md) {
                flex-basis: calc(50% - 1.4em) !important;
            }
            @include media-breakpoint-down(sm) {
                margin-top: 3rem;
            }
        }
    }
}
