#site-footer {
    #site-footer-main {
        position: relative;
        padding-bottom: 2rem;
        background-color: theme-color("light-green");
        margin-top: 4rem;
        .site-footer-alpha {
            flex-wrap: wrap;
            .widget_block {
                margin-bottom: 0;
            }
            > section {
                flex: 0 0 100%;
                text-transform: uppercase;
                &:first-child {
                    margin-bottom: 0;
                }
                hr {
                    border-bottom: 0px;
                }
            }
            ul {
                padding-inline-start: 0;
            }
            #menu-footer-utility-menu {
                display: flex;
                //justify-content: space-around;
                margin-bottom: 0;
                li {
                    padding-left: 4%;

                    a {
                        color: theme-color("secondary");
                        font-size: 18px;
                        font-weight: 700;
                        letter-spacing: 1px;
                    }
                }
            }
            #menu-footer-main-menu {
                display: flex;
                justify-content: flex-start;
                margin-bottom: 0;
                > li {
                    padding-left: 4%;

                    > a {
                        color: theme-color("white");
                        font-size: 24px;
                        padding-bottom: 1rem;
                        font-weight: 700;
                        letter-spacing: 1px;
                    }
                    > ul {
                        > li {
                            padding-bottom: 0.5rem;
                            a {
                                color: theme-color("secondary");
                                font-size: 18px;
                                font-weight: 700;
                                letter-spacing: 1px;
                            }
                        }
                    }
                }
            }
            .sub-menu {
                margin-top: 1rem;
            }
            ul {
                list-style-type: none;
            }
        }
        .site-footer-bravo {
            position: absolute;
            bottom: -25px;
            max-width: unset !important;
            flex: 0 0 100% !important;
            width: 100%;
            justify-content: center;
            padding: 0;
            flex-direction: column;
            align-items: center;
            ul {
                list-style-type: none;
                display: flex;
                flex-direction: column;
                padding: 0;
                align-items: center;
                li {
                    margin-right: 1rem;
                    a {
                        color: theme-color("secondary");
                        text-transform: uppercase;
                        font-size: 18px;
                        font-weight: 700;
                        letter-spacing: 1px;
                    }
                    &:hover {
                        color: theme-color("white");
                        text-decoration: underline;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            @include media-breakpoint-up(md) {
                bottom: -33px;
                ul {
                    flex-direction: row;
                }
            }
        }
        .site-footer-charlie {
            flex-wrap: wrap;
            justify-content: center;
            @include media-breakpoint-up(lg) {
                .widget_block {
                    margin-bottom: 0;
                    height: fit-content;
                }
            }
            .widget_text {
                p {
                    text-transform: uppercase;
                    font-size: 21px;
                    text-align: center;
                    font-weight: 700;
                    letter-spacing: 1px;
                    @include media-breakpoint-up(md) {
                        font-size: 24px;
                    }
                }
            }
            #footer-icon-group {
                display: flex;
                justify-content: center;
                @include media-breakpoint-up(lg) {
                    display: flex;
                    justify-content: center;
                    > div {
                        width: 50%;
                    }
                }
                .wp-block-group__inner-container {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    width: 60%;
                    .wp-block-image {
                        background-color: theme-color("white");
                        border-radius: 10px;

                        &:nth-child(2) {
                            margin-right: 1rem;
                        }
                        &:nth-child(n + 2) {
                            flex: 0 0 calc(50% - 1rem);
                        }
                        img {
                            padding: 1rem;
                        }
                        @include media-breakpoint-up(md) {
                            margin-right: 1rem;
                            margin: 0;
                            &:nth-child(1) {
                                flex-basis: 50% !important;
                                margin-right: 1rem;
                            }
                            &:nth-child(n + 2) {
                                flex-basis: 20% !important;
                            }
                        }
                        @include media-breakpoint-up(lg) {
                            &:nth-child(1) {
                                flex-basis: 100% !important;
                                margin-bottom: 0.5rem;
                                margin-right: 0;
                            }
                            &:nth-child(n + 2) {
                                flex-basis: calc(50% - 0.5rem) !important;
                            }
                            img {
                                padding: 0.75rem;
                            }
                        }
                    }
                }
            }
        }
    }
    #site-legal {
        background-color: theme-color("white");
        padding-left: 3.4%;
        padding-right: 4%;
        .site-info,
        .site-longevity {
            color: theme-color("primary");
            font-weight: 700;
            letter-spacing: 1px;
            a {
                color: theme-color("primary");
                font-weight: bold;
                letter-spacing: 1px;
                &:hover {
                    color: theme-color("white");
                    text-decoration: underline;
                }
            }
        }
        .site-policy {
            flex: 1 1;
            ul {
                display: flex;
                margin-bottom: 0;
                padding-inline-start: 0;
                list-style-type: none;
                li {
                    margin-right: 1rem;
                    a {
                        color: theme-color("primary");
                        font-size: 16px;
                        font-weight: bold;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                    }
                }
            }
        }
        @include media-breakpoint-up(lg) {
            .site-info {
                margin-right: 2rem !important;
            }
            .site-longevity {
                flex: 1 1;
            }
        }
    }
}
