#site-content {
    main {
        .guide-cover {
            align-items: center;
            .wp-block-cover__inner-container {
                position: absolute;
                right: 0rem;
                width: 95%;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                left: 1rem;
                max-width: 100%;
                h2 {
                    font-size: 30px;
                    text-transform: uppercase;
                    font-weight: 700;
                    margin: 1rem 0rem;
                    align-items: flex-start;
                    width: 100%;
                }
                p {
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-start;
                    margin-bottom: 1rem;
                    font-size: 18px;
                    font-weight: 700;
                }
                .wp-block-buttons {
                    width: 100%;
                    font-weight: bold;
                }
                @include media-breakpoint-up(md) {
                    display: flex;
                    right: 4rem;
                    align-items: flex-start;
                    width: 40%;
                    left: unset;
                }
                @include media-breakpoint-up(lg) {
                    width: 23%;
                }
            }
        }
        .img-text-right {
            .img-text__inner {
                .img-text__media {
                    flex: 0 0 50%;
                }
                .img-text__content {
                    flex: 0 0 42%;
                    font-size: 18px;
                    p {
                        padding-top: 1.2rem;
                    }

                    @include media-breakpoint-up(md) {
                        margin-top: auto;
                        margin-bottom: auto;
                    }
                }
            }
        }
        .img-text-left {
            .img-text__inner {
                .img-text__media {
                    flex: 0 0 42%;
                }
                .img-text__content {
                    flex: 0 0 50%;
                    font-size: 18px;
                    @include media-breakpoint-up(md) {
                        margin-top: auto;
                        margin-bottom: auto;
                    }
                    p {
                        width: 87%;
                        padding-top: 1.2rem;
                        color: theme-color("brown");
                    }
                }
            }
        }
        .tablet-content {
            p {
                font-size: 18px;
                padding-top: 1.2rem;
            }
        }
    }
}
