#site-header {
    box-shadow: unset !important;
    @include media-breakpoint-up(md) {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 999;
    }

    .header-main {
        display: flex;
        flex-wrap: wrap;
        .upper-header {
            display: flex;
            flex: 1 1 100%;
            justify-content: center;
            background-color: theme-color("light-green");
            padding: 1rem 0rem;
            .navbar-brand {
                width: 100%;
                max-width: 100%;
                justify-content: center;
                margin-right: 0;
                .logo-group {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    line-height: 1.3;
                    @include media-breakpoint-up(md) {
                        padding-left: 2rem;
                    }
                    .logo-top {
                        font-size: 32px;
                        font-family: "Rye";
                    }
                    .logo-bottom {
                        font-size: 18px;
                    }
                    span {
                        flex: 1 1 100%;
                        justify-content: center;
                        text-align: center;
                        color: theme-color("secondary");
                        text-transform: uppercase;
                        @include media-breakpoint-up(md) {
                            text-align: left;
                        }
                    }
                }
            }
            @include media-breakpoint-up(lg) {
                width: fit-content;
                justify-content: flex-start;
                .navbar-brand {
                    width: fit-content;
                    justify-content: flex-start;
                    .logo-group {
                        width: fit-content;
                        justify-content: flex-start;
                        flex-direction: column;
                        padding-left: 4rem;
                        span {
                            width: fit-content;
                            justify-content: flex-start;
                            text-align: left;
                            flex: unset;
                        }
                        .logo-top {
                            font-size: 36px;
                        }
                        .logo-bottom {
                            font-size: 21px;
                        }
                    }
                }
            }
        }
        .lower-header {
            display: flex;
            flex: 1 1 100%;
            background-color: theme-color("primary");
            padding: 0.5rem 0;
            align-items: center;
            @include media-breakpoint-up(lg) {
                flex-wrap: wrap;
            }
            .main-navigation {
                flex: 1 1 50%;
                padding: 0 0 0 2rem;
                @include media-breakpoint-up(lg) {
                    flex: 1 1 100%;
                }
                .navbar {
                    padding: 0;
                    @include media-breakpoint-up(lg) {
                        a {
                            color: theme-color("secondary");
                            font-size: 18px;
                            font-weight: 600;
                            letter-spacing: 1px;
                            &:hover {
                                color: theme-color("white");
                            }
                        }
                        .navbar-nav {
                            width: 100%;
                            justify-content: space-around;
                        }
                        .dropdown-toggle::after {
                            border-top: 0.7em solid;
                            border-right: 0.4em solid transparent;
                            border-bottom: 0;
                            border-left: 0.4em solid transparent;
                        }
                    }
                    .navbar-collapse {
                        z-index: 99999999;
                        //background-color: theme-color("white");
                    }
                }

                #main-navbar {
                    top: 110px;
                    @include media-breakpoint-up(md) {
                        top: 197px;
                    }
                }
            }
            .navbar-toggler {
                .hamburger-box {
                    .hamburger-inner,
                    .hamburger-inner::before,
                    .hamburger-inner::after {
                        color: theme-color("secondary");
                        background-color: theme-color("secondary");
                    }
                }
            }
            .book-now {
                border: 1px solid theme-color("secondary");
                border-radius: 3px;
                height: fit-content;
                flex: 0 1 30%;
                font-size: 20px;
                padding-left: 3rem;
                position: relative;
                transition: border 0.4s ease-in-out;
                a {
                    color: theme-color("secondary");
                    text-transform: uppercase;
                    padding-right: 4px;
                    p {
                        line-height: 1.2;
                        padding-top: 4px;
                        padding-bottom: 4px;
                        padding-right: 2px;
                        letter-spacing: 1px;
                    }
                }
                &::before {
                    content: url(/wp-content/themes/wp-web-leghornranch/assets/dist/images/horse_icon.svg);
                    position: absolute;
                    top: calc(50% - 20px);
                    left: -1px;
                    width: 40px;
                    height: 40px;
                    transition: all 0.4s ease-in-out;
                }
                &::after {
                    content: url(/wp-content/themes/wp-web-leghornranch/assets/dist/images/horse_icon_dark.svg);
                    position: absolute;
                    top: calc(50% - 20px);
                    left: -1px;
                    width: 40px;
                    height: 40px;
                    transition: all 0.4s ease-in-out;
                    opacity: 0;
                }
                &:hover {
                    border: 1px solid theme-color("secondary");
                    background-color: theme-color("secondary");
                    &::before {
                        opacity: 0;
                    }
                    &::after {
                        opacity: 1;
                        left: -1px;
                    }
                    a {
                        color: theme-color("brown");
                    }
                }
                @include media-breakpoint-up(lg) {
                    position: absolute;
                    width: 215px;
                    top: 28px;
                    right: 380px;
                }
            }
            .icon-group {
                display: flex;
                flex: 1 1 75%;
                justify-content: flex-end;
                align-items: center;
                padding-right: 2rem;
                position: relative;
                &__register {
                    display: flex;
                    align-items: center;
                    a:before {
                        content: url(/wp-content/themes/wp-web-leghornranch/assets/dist/images/registration_icon.svg);
                        width: 45px;
                        height: 45px;
                        position: absolute;
                        top: -23px;
                        right: 65px;
                        transition: all 0.4s ease-in-out;
                    }
                    a:after {
                        content: url(/wp-content/themes/wp-web-leghornranch/assets/dist/images/registration_icon_dark.svg);
                        width: 45px;
                        height: 45px;
                        position: absolute;
                        top: -23px;
                        right: 65px;
                        transition: all 0.4s ease-in-out;
                        opacity: 0;
                    }
                    &:hover {
                        a:before {
                            opacity: 0;
                        }
                        a::after {
                            opacity: 1;
                        }
                    }
                }
                &__sign {
                    display: flex;
                    align-items: center;
                    a::before {
                        content: url(/wp-content/themes/wp-web-leghornranch/assets/dist/images/sign_icon.svg);
                        width: 45px;
                        height: 45px;
                        position: absolute;
                        top: -23px;
                        right: 15px;
                        transition: all 0.4s ease-in-out;
                    }
                    a::after {
                        content: url(/wp-content/themes/wp-web-leghornranch/assets/dist/images/sign_icon_dark.svg);
                        width: 45px;
                        height: 45px;
                        position: absolute;
                        top: -23px;
                        right: 15px;
                        transition: all 0.4s ease-in-out;
                        opacity: 0;
                    }
                    &:hover {
                        a::before {
                            opacity: 0;
                        }
                        a::after {
                            opacity: 1;
                        }
                    }
                }

                @include media-breakpoint-up(md) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    flex: 1 1 36%;
                    &__register {
                        margin-bottom: 8px;
                        a::before {
                            top: -4px;
                            left: 18px;
                            width: 35px;
                            height: 35px;
                        }
                        a::after {
                            top: -4px;
                            left: 18px;
                            width: 35px;
                            height: 35px;
                        }
                    }
                    &__sign {
                        padding-right: 3rem;
                        a::before {
                            top: 32px;
                            left: 18px;
                            width: 35px;
                            height: 35px;
                        }
                        a::after {
                            top: 32px;
                            left: 18px;
                            width: 35px;
                            height: 35px;
                        }
                    }
                    > div {
                        width: 100%;
                        justify-content: flex-end;
                        font-size: 18px;
                        flex: 1 1 100%;
                        a {
                            color: theme-color("secondary");
                            &:hover {
                                color: theme-color("white");
                            }
                        }
                    }
                }

                @include media-breakpoint-up(lg) {
                    position: absolute;
                    top: 28px;
                    right: 110px;
                    &__register {
                        a::before {
                            top: -4px;
                            left: 110px;
                            width: 35px;
                            height: 35px;
                        }
                        a::after {
                            top: -4px;
                            left: 110px;
                            width: 35px;
                            height: 35px;
                        }
                    }
                    &__sign {
                        a::before {
                            top: 32px;
                            left: 110px;
                            width: 35px;
                            height: 35px;
                        }
                        a::after {
                            top: 32px;
                            left: 110px;
                            width: 35px;
                            height: 35px;
                        }
                    }
                }
            }
        }
        .mobile-book-now {
            display: flex;
            flex: 1 1 100%;
            flex-wrap: wrap;
            align-items: center;
            background-color: theme-color("light-green");
            padding: 0.75rem 0rem;
            justify-content: center;
            position: relative;
            &::after {
                content: url(/wp-content/themes/wp-web-leghornranch/assets/dist/images/horse_icon.svg);
                position: absolute;
                top: calc(50% - 20px);
                left: 0;
                width: 40px;
                height: 40px;
            }
            &__text {
                display: flex;
                flex: 1 1 100%;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                font-size: 21px;
                text-transform: uppercase;
                color: theme-color("secondary");
                &:hover {
                    color: theme-color("white");
                }
            }
        }

        @include media-breakpoint-up(md) {
        }
    }
}

#site-content {
    // padding-top: 237px !important;
}

@include media-breakpoint-up(md) {
    #site-content {
        padding-top: 204px !important;
    }
}

@include media-breakpoint-up(lg) {
    #site-content {
        padding-top: 174px !important;
    }
}

@include media-breakpoint-down(md) {
    #menu-main-menu {
        .nav-link {
            font-size: 21px !important;
        }
        .dropdown-item {
            font-size: 21px !important;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1439px) {
    #menu-main-menu {
        .nav-link {
            font-size: 16px !important;
        }
        .dropdown-item {
            font-size: 16px !important;
        }
    }
    #site-content {
        padding-top: 171px !important;
    }
}

@include media-breakpoint-down(sm) {
    #site-header {
        .upper-header {
            order: 3;
            margin-top: 131px;
        }
        .lower-header {
            order: 2;
            position: fixed;
            top: 55px;
            left: 0;
            z-index: 999;
            width: 100%;
        }
        .mobile-book-now {
            order: 1;
            position: fixed !important;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 999;
        }
    }
}
