#site-content {
    .hero-cover {
        @include media-breakpoint-up(md) {
            &::before {
                opacity: 0;
            }
            img {
                object-position: 82% 55% !important;
            }
        }
        @include media-breakpoint-up(lg) {
            img {
                object-position: 82% 25% !important;
            }
        }
        .wp-block-cover__inner-container {
            display: flex;
            flex-wrap: wrap;
            > p {
                padding: 0.4rem 0 1rem 0;
                font-size: 21px;
            }

            h1 {
                flex: 0 0 100%;
                text-transform: uppercase;
            }

            .wp-block-buttons {
                flex: 0 0 100%;
                text-transform: uppercase;
                font-weight: 700;
                .wp-block-button {
                    &__link {
                        border: 2px solid theme-color("secondary");
                    }
                    &__link:hover {
                        background-color: unset;
                        border: 2px solid theme-color("secondary");
                        color: theme-color("secondary");
                    }
                }
            }
            @include media-breakpoint-up(md) {
                padding: 3rem 0rem 3rem 1rem;
                > p {
                    flex: 0 0 46%;
                    padding: 0.4rem 0 2rem 0;
                    font-size: 18px;
                }
            }

            @include media-breakpoint-up(lg) {
                padding: 10rem 0rem 10rem 3rem;
                > p {
                    flex: 0 0 21%;
                    font-size: 20px;
                }
            }
        }
    }
    .guidelines-bar {
        padding: 0 3rem;
        @include media-breakpoint-up(md) {
            padding: 0 5.5rem;
        }
        @media (min-width: 1023px) and (max-width: 1441px) {
            padding: 0 5rem !important;
        }
        @include media-breakpoint-up(lg) {
            padding: 0 28rem;
        }
        p {
            font-size: 18px;
            a {
                color: theme-color("secondary");
                text-decoration: underline;
                &:hover {
                    color: theme-color("white");
                }
            }
        }
    }

    .text-one {
        p {
            font-size: 18px;
        }
        p:first-child {
            margin-bottom: 2rem;
        }
    }

    .review-logos {
        @include media-breakpoint-up(lg) {
            width: 50% !important;
        }
        @include media-breakpoint-up(md) {
            justify-content: center;
            width: 75% !important;
            align-items: baseline;
        }
        .wp-block-column {
            display: flex;
            justify-content: center;
            &:nth-child(n + 2) {
                padding-top: 0.75rem;
                flex-basis: calc(50% - 1em) !important;
            }
            figure {
                display: flex;
                align-items: center;
                margin: 0;
            }
            @include media-breakpoint-up(md) {
                flex-basis: calc(33.33% - 1em) !important;
                &:nth-child(n + 2) {
                    flex-basis: calc(33.33% - 1em) !important;
                }
            }
        }
    }

    .img-text {
        .img-text__inner {
            @include media-breakpoint-up(lg) {
                .img-text__content {
                    flex: 0 0 30%;
                }
                .img-text__media {
                    flex: 0 0 70%;
                }
            }
        }
    }
    .camps-img-text {
        .img-text__inner {
            @include media-breakpoint-up(lg) {
                .img-text__media {
                    flex: 0 0 62%;
                }
                .img-text__content {
                    flex: 0 0 29.3%;
                }
            }
        }
    }

    .tablet-img-contain {
        .img-text__media {
            img {
                @include media-breakpoint-up(md) {
                    aspect-ratio: 360/404;
                    object-fit: cover;
                }
                @include media-breakpoint-up(lg) {
                    aspect-ratio: auto;
                    object-fit: inherit;
                }
            }
        }
    }

    .home-testimonial {
        background-color: theme-color("light-green");
        .swiper-button-prev,
        .swiper-button-next {
            color: theme-color("white");
            &::after {
                display: none;
            }
        }
        .swiper-button-prev {
            content: "";
            height: 0;
            width: 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-right: 25px solid theme-color("white");
        }
        .swiper-button-next {
            content: "";
            height: 0;
            width: 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 25px solid theme-color("white");
        }
        @include media-breakpoint-up(md) {
            .swiper-button-prev {
                left: 30px;
                top: 55%;
                border-top: 25px solid transparent;
                border-bottom: 25px solid transparent;
                border-right: 39px solid theme-color("white");
            }
            .swiper-button-next {
                right: 30px;
                top: 55%;
                border-top: 25px solid transparent;
                border-bottom: 25px solid transparent;
                border-left: 39px solid theme-color("white");
            }
        }

        @include media-breakpoint-up(lg) {
            .swiper-button-prev {
                left: 90px;
                top: 72%;
            }
            .swiper-button-next {
                right: 90px;
                top: 72%;
            }
        }
        .swiper-pagination-bullet {
            background-color: theme-color("white");
        }
        .swiper-pagination-bullet-active {
            background-color: theme-color("secondary");
        }

        .image {
            margin-bottom: 0 !important;
        }
        img {
            width: 100%;
            height: 425px;
            object-fit: cover;
        }
        .content {
            background-color: theme-color("light-green");
            display: flex;
            flex-wrap: wrap;
            color: theme-color("white");
            padding: 1rem 4rem;
            h5 {
                order: 1;
                color: theme-color("white");
                font-size: 24px;
            }
            p {
                order: 2;
                font-size: 18px;
            }
            @include media-breakpoint-up(md) {
                padding: 3rem 6rem;
            }
            @include media-breakpoint-up(lg) {
                padding: 4rem 16rem;
            }
        }
    }

    .home-reviews {
        .swiper-wrapper {
            .swiper-slide {
                .image {
                    display: flex;
                    justify-content: center;
                }
                .content {
                    margin-left: 2.25rem;
                    margin-right: 2.25rem;
                    display: flex;
                    flex-direction: column;
                    @include media-breakpoint-up(md) {
                        margin-left: 7.8rem;
                        margin-right: 7.8rem;
                    }
                    @include media-breakpoint-up(lg) {
                        margin-left: 15rem;
                        margin-right: 15rem;
                    }
                    p {
                        text-align: center;
                        order: 1;
                        color: theme-color("brown");
                        margin-top: 0.5rem;
                    }
                    h5 {
                        order: 2;
                        color: theme-color("brown");
                        text-transform: uppercase;
                        font-size: 24px;
                        text-align: center;
                        font-weight: bold;
                    }
                    .wp-block-image {
                        order: 3;
                    }
                }
            }
        }
        .swiper-button-prev,
        .swiper-button-next {
            color: theme-color("primary");
        }
        .swiper-button-prev {
            content: "";
            height: 0;
            width: 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-right: 25px solid theme-color("primary");
            top: calc(50% - 30px);
            left: 0;
        }
        .swiper-button-next {
            content: "";
            height: 0;
            width: 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 25px solid theme-color("primary");
            top: calc(50% - 30px);
            right: 0;
        }
        @include media-breakpoint-up(md) {
            .swiper-button-prev {
                left: 60px;
                border-top: 21px solid transparent;
                border-bottom: 21px solid transparent;
                border-right: 35px solid theme-color("primary");
            }
            .swiper-button-next {
                right: 60px;
                border-top: 21px solid transparent;
                border-bottom: 21px solid transparent;
                border-left: 35px solid theme-color("primary");
            }
        }
        @include media-breakpoint-up(lg) {
            .swiper-button-prev {
                left: 140px;
                border-top: 21px solid transparent;
                border-bottom: 21px solid transparent;
                border-right: 35px solid theme-color("primary");
            }
            .swiper-button-next {
                right: 140px;
                border-top: 21px solid transparent;
                border-bottom: 21px solid transparent;
                border-left: 35px solid theme-color("primary");
            }
        }
    }
}
