#site-content {
    main {
        .review-group {
            @include media-breakpoint-up(md) {
                .wp-block-group__inner-container {
                    display: flex;
                    flex-wrap: wrap;
                    .wp-block-lg-blocks-img-text {
                        display: flex;
                        flex: 0 0 calc(50% - 1em);
                        &:nth-child(odd) {
                            margin-right: 1em;
                        }

                        .img-text__inner {
                            align-items: flex-start;
                            flex-wrap: wrap;
                            .img-text__media,
                            .img-text__content {
                                flex: 0 0 100% !important;
                            }
                            .img-text__media {
                                order: 1;
                                height: fit-content;
                                padding: 0;
                                img {
                                    height: 360px;
                                    object-fit: cover;
                                }
                            }
                            .img-text__content {
                                order: 2;
                                height: 100%;
                                padding: 0;
                                h2 {
                                    margin-top: 1.95rem;
                                }
                                > p {
                                    padding-right: 1rem;
                                }
                            }
                        }
                    }
                }
            }
            @include media-breakpoint-up(lg) {
                .wp-block-group__inner-container {
                    display: flex;
                    flex-wrap: wrap;
                    .wp-block-lg-blocks-img-text {
                        display: flex;
                        flex: 0 0 100%;
                        .img-text__inner {
                            align-items: flex-start;
                            flex-wrap: wrap;
                            .img-text__media,
                            .img-text__content {
                                flex: 0 0 50% !important;
                            }
                            .img-text__media {
                                height: inherit;
                                img {
                                    height: auto;
                                    object-fit: inherit;
                                }
                            }
                            .img-text__content {
                                height: inherit;
                            }
                        }
                    }
                    .wp-block-lg-blocks-img-text:nth-child(odd) {
                        .img-text__inner {
                            .img-text__media {
                                order: 3;
                            }
                        }
                    }
                }
            }
        }
    }
}

.swiper-testimonials {
    h5 {
        font-weight: bold;
    }
}
