.woocommerce {
    table.shop_table {
        border: 1px solid theme-color("brown");
        thead {
            th {
                //border-bottom: 1px solid theme-color("brown");
                text-align: center;
                font-weight: 400;
            }
            th.product-name {
                text-align: unset;
            }
        }
        tbody {
            color: theme-color("brown");
            hr {
                display: none;
            }
            bdi {
                color: theme-color("brown");
            }
            td::before {
                font-weight: 400 !important;
                color: theme-color("brown");
            }
            td.actions {
                border-top: 1px solid theme-color("brown");
            }
            td.product-name {
                color: theme-color("brown");
                &::first-line {
                    font-weight: bold;
                    color: theme-color("brown");
                }
                dl.variation {
                    background-color: #edf3eb;
                    padding: 1.5em;
                    text-align: left;
                    @include media-breakpoint-up(lg) {
                        padding: 2em;
                    }
                    dt.variation-AppointmentInfo {
                        clear: unset;
                        float: unset;
                        display: block;
                        text-transform: uppercase;
                        margin-bottom: 0.5em;
                        letter-spacing: 1px;
                        font-weight: 700;
                    }
                    p {
                        margin-bottom: 0.25em;
                    }
                    strong {
                        display: block;
                        @include media-breakpoint-up(lg) {
                            display: inline;
                        }
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        font-weight: 400;
                    }
                }
            }
            td.product-price {
                font-weight: 700;
                text-align: center;
            }
            td.product-quantity {
                font-weight: 700;
                text-align: center;
            }
            td.product-subtotal {
                font-weight: 700;
                text-align: center;
            }
            td {
                border-color: theme-color("brown");
            }
        }
        tfoot {
            th,
            td {
                border-color: theme-color("brown");
            }
        }
        .actions {
            //display: flex;
            width: 100%;
            .coupon {
                float: unset !important;
                clear: unset;
                display: flex;
                flex-direction: column;
                align-items: center;
                @media screen and (min-width: 991px) {
                    flex-direction: row;
                    //justify-content: space-between;
                    align-items: baseline;
                }
                input#coupon_code {
                    flex: 0 0 100%;
                    width: auto !important;
                    margin-top: 1rem;
                    margin-bottom: 1.5rem;
                    @media screen and (min-width: 991px) {
                        flex: 0 0 25%;
                    }
                }
                button {
                    flex: 0 0 100%;
                    width: auto !important;
                    width: 100%;
                    max-width: 220px;
                    background-color: theme-color("light-green");
                    color: #fff;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    border: 3px solid theme-color("light-green");
                    transition: all 0.5s ease;
                    &:hover {
                        background-color: #fff;
                        color: theme-color("light-green");
                        border: 3px solid theme-color("light-green");
                    }
                    @media screen and (min-width: 991px) {
                        flex: 0 0 50%;
                    }
                }
            }
            > button {
                display: none !important;
            }
        }
    }
    div.cart-collaterals {
        display: flex;
        justify-content: center;
        text-align: center;
        text-transform: capitalize;
        color: theme-color("brown");
        font-size: 18px;
        h2 {
            color: theme-color("brown");
            font-weight: 700;
        }
        table {
            border: 0;

            tr.cart-subtotal,
            tr.tax-rate {
                th {
                    font-weight: 400;
                }
            }
            tr.order-total {
                background-color: #edf3eb;
            }
            .woocommerce-Price-amount {
                font-weight: 700;
            }
            td {
                text-align: center;
            }
            td[data-title="Total"]::before {
                font-weight: 700 !important;
            }
        }
    }
    .wc-proceed-to-checkout {
        a.checkout-button {
            background-color: theme-color("light-green");
            border: 2px solid theme-color("light-green");
            font-size: 18px;
            text-transform: uppercase;
            &:hover {
                background-color: #fff;
                border: 2px solid theme-color("light-green");
                color: theme-color("light-green");
            }
        }
    }

    .woocommerce-form-coupon-toggle {
        .woocommerce-info {
            background-color: #edf3eb;
            border-top: 0;
            color: theme-color("brown");
            padding: 1.5em;
            &::before {
                display: none;
            }
            &::first-line {
                font-weight: 700;
            }
            a {
                display: block;
                font-weight: bold;
                &:hover {
                    text-decoration: underline;
                }
                @include media-breakpoint-up(lg) {
                    display: inline;
                }
            }
        }
    }
    .checkout {
        .col2-set {
            .col-1 {
                flex: 1 1 100%;
                max-width: 100%;
                margin-bottom: 3rem;
                width: auto !important;
                float: unset !important;
                padding-left: 0;
                padding-right: 0;
                input {
                    font-size: 14px;
                    &::placeholder {
                        font-size: 12px;
                    }
                    @include media-breakpoint-up(md) {
                        font-size: 16px;
                        &::placeholder {
                            font-size: 16px;
                        }
                    }
                }
            }
            .col-2 {
                display: none !important;
            }
        }
    }
    h3 {
        font-weight: 700;
        color: theme-color("brown");
        text-transform: capitalize;
    }
    #order_review {
        table {
            color: theme-color("brown");
            th.product-total,
            td.product-total {
                display: none;
                @include media-breakpoint-up(md) {
                    display: table-cell;
                }
            }
            @include media-breakpoint-up(md) {
                td.product-name {
                    width: 80%;
                    padding-left: 2em;
                    flex: 1 1 75%;
                    .variation {
                        margin-top: 1.5em;
                    }
                }
                td.product-total {
                    width: 50%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    bdi {
                        font-weight: 700;
                    }
                }
                th {
                    padding-left: 2em;
                    flex: 1 1 75% !important;
                }
                @include media-breakpoint-up(lg) {
                    th {
                        flex: 1 1 83.3% !important;
                    }
                    th.product-name {
                        flex: 1 1 83.3%;
                    }
                    th.product-total {
                        flex: 1 1 60% !important;
                    }
                }
                tr.cart-subtotal,
                tr.tax-rate,
                tr.order-total {
                    td {
                        flex: 1 1 25%;
                    }
                }
            }

            td.product-name {
                width: 100%;
            }
            tr {
                display: flex;
                width: 100%;
                th {
                    &:first-child {
                        flex: 1 1 50%;
                    }
                    flex: 0 1 35%;
                }
            }
        }
    }
    #payment {
        background-color: unset;
        border: 1px solid theme-color("brown");
        margin-bottom: 1rem;
        .payment_box {
            background-color: #edf3eb !important;
            &::before {
                border: 1em solid #edf3eb !important;
                border-right-color: transparent !important;
                border-left-color: transparent !important;
                border-top-color: transparent !important;
            }
        }
        .place-order {
            display: flex;
            justify-content: center;
            margin-top: 12px;
            button {
                background-color: theme-color("light-green");
                color: #fff;
                border: 2px solid theme-color("light-green");
                transition: all 0.5s ease;
                text-transform: uppercase;
                &:hover {
                    color: theme-color("light-green");
                    background-color: #fff;
                }
            }
        }
    }
    #ppc-button {
        justify-content: center;
        text-align: center;
    }
    .checkout_coupon {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        > p:first-child {
            flex: 1 0 100%;
        }
        button {
            background-color: theme-color("light-green");
            border: 2px solid theme-color("light-green");
            font-size: 18px;
            text-transform: uppercase;
            color: #fff;
            transition: all 0.5s ease;
            &:hover {
                background-color: #fff;
                border: 2px solid theme-color("light-green");
                color: theme-color("light-green");
            }
        }
    }
}
